form {
    margin: 0 auto;
    width: 400px;
    padding: 2em;
    border: 1px solid #625b51;
    border-radius: 2em;
    background: rgba(43, 43, 42, 0.9);
}

body {
    background-image:url("lucesazules.png");
    background-color: #cccccc;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 210px;
    text-align: right;
    vertical-align: top;
    font-family: cursive;
}

.lab1 {
    color: #09d09e
}

.lab2 {
    color: rgb(233, 10, 95);
}

.lab3 {
    color: rgb(11, 206, 240);
}

.button {
    padding-left: 210px;
}

button {
    margin-left: .5em;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    font-family: Verdana;
    color: rgb(203, 234, 50);
}


