form {
    margin: 0 auto;
    width: 400px;
    padding: 2em;
    border: 1px solid #f6ab3b;
    border-radius: 2em;
    background: rgba(247, 223, 133, 0.9);
}

body {
    background-image:url(llaves.png);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.button {
    padding-left: 200px;
}

button {
    margin-left: .5em;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-family: Verdana;
    color: rgb(210, 227, 234);
}


